//@import './node_modules/leaflet/dist/leaflet.css';
:host {
  .my-map {
    width: 100%;
    height: 100%;
    position: inherit;

    .my-marker-icon {
      // position: absolute;
      //background: url('https://png.pngtree.com/element_pic/00/16/06/12575c35f6da856.jpg') no-repeat center;
      background-color: red;
    }
  }
}
